<div class="container">
<div class="row">
  <div class="col-md-8">
    <div>
      <% if @chef.photos[0].present? %>
        <%= cl_image_tag @chef.photos[0].key, height: 300, width: 400, crop: :fill, class: "avatar-chef" %>
        <h2><%= @chef.full_name %></h2>
        <h3><%= @chef.speciality %></h3>
        <p><%= @chef.experience %></p>
      <% end %>
    </div>
    <div>
      <% if @chef.photos[1].present? %>
        <div>
          <%= cl_image_tag @chef.photos[1].key, height: 300, width: 400, crop: :fill, class: "card-food" %>
        </div>
      <% end %>
      <% if @chef.photos[2].present? %>
        <div>
          <%= cl_image_tag @chef.photos[2].key, height: 300, width: 400, crop: :fill, class: "card-food" %>
        </div>
        <% end %>
      <% if @chef.photos[3].present? %>
        <div>
          <%= cl_image_tag @chef.photos[3].key, height: 300, width: 400, crop: :fill, class: "card-food" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="bookig-form">
      <%= render "bookings/new", chef: @chef, booking: @booking %>
    </div>
  </div>
</div>
