    <div class='container-form-bookings'>
    <%= simple_form_for [@chef, @booking] do |f| %>

      <%# CHEF_NAME TO AUTOPOPULATE IN ANOTHER FIELD %>
      <%= f.input :date %>
      <%= f.input :start_hour, minute_step: 60 %>
      <%= f.input :end_hour, minute_step: 60 %>
      <div class="d-flex align-items-center justify-content-center w-100">
        <%= f.submit class: 'btn btn-yellow d-block' %>
      </div>
    <% end %>
  </div>
