<div class='container justify-content-center'>
    <h2> My Bookings </h2><br>
    <% if @bookings.blank? %>
      <div class="card booking">
        <p> You currently have no bookings. Why not browse our <%= link_to 'chefs', chefs_path %> and search for your favourite cuisine.</p>
      </div>
    <% else %> 
      <% @bookings.each do |booking| %>
        <div class="card booking">  
          <p><strong><%= booking.chef.user.first_name %></strong> : <%= booking.chef.speciality %></p>
          <p>Date: <%= booking.start_date %> - <%= booking.end_date %></p>
          <p>Price: <strong>£<%= booking.chef.price %></strong></p>
          <%= link_to 'DELETE BOOKING', booking_path(booking), class: 'btn btn-sm btn-orange', method: :delete, data: { confirm: '🚨 ARE YOU SURE YOU WANT TO DELETE THIS BOOKING 🚨' } %></p>
        </div>
      <% end %>
    <% end %>
</div>
