  <%= link_to 'HOME', root_path %><br>
  <h2> ### SHOW TASK ### </h2>
  <div class='card'>
    <h3><%= @booking.id %>: <%= @booking.chef.id %><br>
    <%= @booking.start_date %> - <%= @booking.end_date %></h3><br>
  </div>
