<body>
  <div class="container-2">


    <ul>
      <li><%= image_tag "https://i.pinimg.com/originals/89/8a/19/898a19cf9c365f68a2593fe2d5b44c9b.png", class: "logo" %></li>
      <li><%= link_to "Home", root_path, class: "nav-link" %></li>
      <li><%= link_to "Chefs", chefs_path, class: "nav-link" %>
      <li><%= link_to "Add chef", new_chef_path, class: "nav-link" %></li>
      <li><%= link_to "Login", new_user_session_path, class: "nav-link" %></li>
    </ul>

    <div class="login">

    </div>
  </div>
</body>
